services:
  jenkins:
    build: .
    privileged: true
    user: root
    ports:
      - "8080:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
      - .:/var/jenkins_home/workspace/openbmc-ci

volumes:
  jenkins_home: